Cargo.lock
.DS_Store
target/
generated/
**/*.rs.bk
*.swp
*.swo
*.log
*.wasm
*.wasi
.idea/
dist/
/bin/
node_modules/
hfuzz_workspace/
hfuzz_target/
fuzz_target/

package-lock.json

/crates/python/env
/crates/python/build/

.pytest_cache/
__pycache__/
*.so
*.egg-info/

flamegraph*.svg
*profdata

favicon.ico
*.min.js

aoc.fornwall.net/
/crates/wasm/site/benchmark/new-baseline.json
generated-*
perf.*
oprofile_data

failing-input*txt
