app = "advent-grpc"

[build]
  image = "fredrikfornwall/advent-of-code-grpc-server:2022.0.47"

[[services]]
  internal_port = 50051
  protocol = "tcp"

  [[services.ports]]
    handlers = ["tls"]
    tls_options = {"alpn"=["h2"]}
    port = "443"
