name: Tag Release

on: workflow_dispatch

jobs:
  tag-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Setup git for commit
        run: |
          git config --global user.name 'Bump version workflow'
          git config --global user.email 'bumpversion@users.noreply.github.com'
      - name: Install bump2version
        run: pip install bump2version
      - name: Bump version and commit
        run: bump2version patch
      - name: Push changes to git
        run: git push && git push --tags
